<ul class="breadcrumbs">
    <li class="current"><a href="#">Asignaturas</a></li>
</ul>
<h2>Gestión de asignaturas</h2>
<div>
    <img src="../static/img/ayuda.png" />
    <a href="../static/pdf/Asignatura.pdf" target="_blank" />Ayuda</a>
</div>
<br/>
<div style="display:table;">
    <form action="/sagradocorazon/asignatura/guardar_asignatura" method="post" style="width:300px;padding:40px;float:left;border:solid 1px #D3D3D3; border-radius: 10px 10px 10px 10px;">
        Nombre de la asignatura: <span style="color:red;">*</span>
        <br/>
        <br/>
        <input type="text" name="nombre" required/>
        <br/>
        <button type="submit"> Agregar</button>
    </form>
    <div style="float:left;width: 500px;margin-left:40px;">
        <h3>Registros: </h3>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre de la asignatura</th>
                    <th>Acciones:</th>
                </tr>
            </thead>
            <!-- START lista_asignatura -->
            <tr>
                <td>{id}</td>
                <td>{nombre}</td>
                <td>
                    <a href="javascript:void(0);" onclick="eliminarAsignatura({id})">
                        Eliminar
                        <img class="iconSystem" src="../static/img/glyphicons_207_remove_2.png" alt="(eliminar)"/>
                    </a> 
                    | 
                    <a href="/sagradocorazon/asignatura/editar?id={id}">
                        Editar
                        <img class="iconSystem" src="../static/img/glyphicons_030_pencil.png" alt="(editar)"/>
                    </a> 
                </td>
            </tr>
            <!-- END lista_asignatura -->
        </table>
    </div>
</div>
<script>
    function eliminarAsignatura(id) {
        var t = confirm("Desea eliminar este registro?");
        if (t) {
            location.href = '/sagradocorazon/asignatura/eliminar?id=' + id;
        }
    }
</script>