<script type="text/javascript">

    $(document).ready(function() {

        var urlHandler = new url_handler();
        urlHandler.initialize();
        if (urlHandler.isKey('save')) {
            if (urlHandler.getValue('save') == 'ok')
                alert("Registro ingresado correctamente");
        }
        if (urlHandler.isKey('update')) {
            if (urlHandler.getValue('update') == 'ok')
                alert("Registro actualizado correctamente");
        }
        if (urlHandler.isKey('docente')) {
            var id_docente = urlHandler.getValue('docente');
            $('#id_docente').val(id_docente);
            $('#id_docente').change();
            $('#envBtn').focus();
        }

    });

    var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);

    function cargarDatos() {
        var id = $('#id_docente').val().trim();
        var data = {
            'id_docente': id
        };

        var uri = '/sagradocorazon/docente/get_full_info';

        var req = $.post(uri, data, function(d) {
            if (d.found) {
                $('#primer_nombre').val(d.data.primer_nombre);
                $('#segundo_nombre').val(d.data.segundo_nombre);
                $('#primer_apellido').val(d.data.primer_apellido);
                $('#segundo_apellido').val(d.data.segundo_apellido);
                $('#telefono').val(d.data.telefono);
                $('#telefono_opcional').val(d.data.telefono_opcional);
                $('#direccion').val(d.data.direccion);
                $('#dui').val(d.data.dui);
                $('#sexo option[value=' + d.data.sexo + ']').attr("selected", "selected");
                $('#nit').val(d.data.nit);
                $('#fecha_nacimiento').val(d.data.fecha_nacimiento);
                switch (d.data.adminrights) {
                    case '':
                        $('input:radio[name=permiso]')[0].checked = true;
                        break;
                    case '1':
                        $('input:radio[name=permiso]')[1].checked = true;
                        break;
                    case '2':
                        $('input:radio[name=permiso]')[2].checked = true;
                        break;
                    default:
                        $('input:radio[name=permiso]')[0].checked = true;
                        break;
                }
            } else {
                clearFields();
            }
        }, "json");
    }

    function clearFields() {
        $('#id_docente').val("0");
        $('#id_docente').focus();
        $('#primer_nombre').val("");
        $('#segundo_nombre').val("");
        $('#primer_apellido').val("");
        $('#segundo_apellido').val("");
        $('#telefono').val("");
        $('#telefono_opcional').val("");
        $('#direccion').val("");
        $('#dui').val("");
        $('#nit').val("");
        $('#fecha_nacimiento').val("");
    }

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            d.value = val
            d.valant = val
        }
    }
</script>

<ul class="breadcrumbs">
    <li class="current"><a href="#">Docentes</a></li>
</ul>
<div id="weakProtection" data-alert class="alert-box info"> 
    <p>
        <strong>Aviso:</strong>
        El nombre de usuario se genera automaticamente (Consultar lista de docentes para comunicar al docente su usuario).
        Por defecto la clave asignada es igual al nombre de usuario. Recuerde al usuario cambiar su contraseña por una
        personal para mejorar su seguridad y privacidad desde la opción cuenta en la esquina superior derecha.
    </p>
    <a href="#" class="close">&times;</a> 
</div>
<h2>Gestión de docentes</h2>
<!--<a href="/sagradocorazon/docente/generar_reporte" style="padding:5px;" target="_blank">
        <img src="../static/img/glyphicons_119_table.png" style="width:15px;" alt="(exportar)"/> Reporte
</a>-->
<a href="/sagradocorazon/docente/listado" style="padding:5px;">
    <img src="../static/img/glyphicons_029_notes_2.png" style="width:15px;" alt="(listado)"/> Listado
    <img src="../static/img/ayuda.png" />
    <a href="../static/pdf/Docente.pdf" target="_blank" />Ayuda</a>
</a>

<hr/>
<div style="display:table;">
    <form action="/sagradocorazon/docente/guardar" method="post" style="width:600px;display:table;border:solid 1px #D3D3D3;padding:10px;">
        <h3>Nuevo docente</h3>
        <hr/>
        <p style="float:left;padding:10px;width:50%;">
            Id (0 = nuevo):
            <input type="text" id="id_docente" name="id" value="0" onchange="cargarDatos();" />
            Primer nombre: <span style="color:red;">*</span>
            <input type="text" id="primer_nombre" name="primer_nombre" placeholder="Ejm. Mario" required/>
            Segundo nombre: <span style="color:red;">*</span>
            <input type="text" id="segundo_nombre" name="segundo_nombre" placeholder="Ejm. David" required/>
            Primer apellido: <span style="color:red;">*</span>
            <input type="text" id="primer_apellido" name="primer_apellido" placeholder="Ejm. Diaz" required/>
            Segundo apellido: <span style="color:red;">*</span>
            <input type="text" id="segundo_apellido" name="segundo_apellido" placeholder="Ejm. Pinto" required/>
            Fecha de nacimiento:<span style="color:red;">*</span>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento"/>
            <br/>
            Docente 
            <input type="radio" name="permiso" checked="checked" value="0"/>
            <br/>
            Director / Sub - director 
            <input type="radio" name="permiso" value="1" />
            <br/>
            Secretaria 
            <input type="radio" name="permiso" value="2" />
        </p>
        <p style="float:left;padding:10px;width:50%;">
            Sexo: <span style="color:red;">*</span>
            <select name="sexo" id="sexo" required>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
            </select>
            Telefono: <span style="color:red;">*</span>
            <input type="text" id="telefono" name="telefono" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" placeholder="Ejm. 2277-5564" required/>
            Telefono secundario:
            <input type="text" id="telefono_opcional" name="telefono_opcional" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" placeholder="Ejm. 7872-5345"/>
            Dirección: <span style="color:red;">*</span>
            <input type="text" id="direccion" name="direccion" placeholder="Ejm. Soyapango, San Salvador" required/>
            DUI: <span style="color:red;">*</span>
            <input type="text" id="dui" name="dui" onkeyup="mascara(this, '-', patron_dui, true)" maxlength="10" placeholder="Ejm. 02833505-5" required/>
            NIT: <span style="color:red;">*</span>
            <input type="text" id="nit" name="nit" onkeyup="mascara(this, '-', patron_nit, true)" maxlength="14" placeholder="Ejm. 0215-071291-142-7" required/>

            <button type="submit" id="envBtn"> Guardar </button>
        </p>
    </form>
</div>

