<ul class="breadcrumbs">
    <li class="current"><a href="#">Grados</a></li>
</ul>
<div style="text-align: right;">
    <a href="/sagradocorazon/asignatura_grado/ver_asignatura_grado" class="button tiny alert"> 
        Asignaturas asignadas
    </a>
</div>
<h2>Gestión de grados</h2>
<a href="/sagradocorazon/grado/generar_reporte" target="_blank">
    <img src="../static/img/glyphicons_119_table.png" alt="(exportar)"/> Reporte
    <img src="../static/img/ayuda.png" />
    <a href="../static/pdf/Grado.pdf" target="_blank" />Ayuda</a>
</a>
<hr/>
<div style="display:table;">
    <form action="/sagradocorazon/grado/guardar_grado" method="post" style="width:270px;float:left;border:solid 1px #D3D3D3;padding:10px;">
        Nombre del Grado: <span style="color:red;">*</span>
        <input type="text" name="nombre" />  
        <br/>
        Id Orientador:
        <select name="orientador">
            <!-- START docentes -->
            <option value="{id}">({id}) {primer_nombre} {primer_apellido}</option>
            <!-- END docentes -->
        </select>
        <br/>
        Numero de Ciclo:
        <select name="ciclo">
            <option value="1">(1) Primer ciclo</option>
            <option value="2">(2) Segundo ciclo</option>
            <option value="3">(3) Tercer ciclo</option>
            <option value="4">(4) Bachillerato</option>
        </select>
        <br/>
        <button type="submit"> Agregar </button>
    </form>

    <div style="width:600px;float:left; margin-left: 25px;">
        <h3>Registros:</h3>
        <table>
            <tr>
                <th> Id </th><th> Nombre del Grado </th><th> Id Orientador </th><th> Numero de Ciclo </th><th> Acciones: </th>
            </tr>
            <!-- START lista_grado -->
            <tr>
                <td> {id} </td>
                <td> {nombre} </td>
                <td> 
                    <a href="javascript: void(0);" onclick="verOrientador(event, {orientador})">
                        {orientador}
                    </a> 
                </td>
                <td> {ciclo} </td>
                <td> 
                    <a href="javascript:void(0);" onclick="eliminarGrado({id});">
                        Eliminar 
                        <img class="iconSystem" src="../static/img/glyphicons_207_remove_2.png" alt="(eliminar)"/>
                    </a> 
                    | 
                    <a href="/sagradocorazon/grado/editar?id={id}">
                        Editar 
                        <img class="iconSystem" src="../static/img/glyphicons_030_pencil.png" alt="(editar)"/>
                    </a>
                    <br/>
                    <a href="/sagradocorazon/asignatura_grado/nueva_asignatura_grado?id_grado={id}">
                        Gestión de cursos
                    </a> 
                </td>
            </tr>
            <!-- END lista_grado -->
        </table>
    </div>
</div>
<div id="resumenDocente" style="padding:10px; width:300px;box-shadow:1px 1px 2px #000;position:fixed;z-index:100001;top:150px;background: #fff;left:0px; right:0px; margin:auto;display:none;">
    <h3>Bio Docente</h3>
    <a href="javascript: void(0);" onclick="cerrarBio();">(cerrar)</a>
    <hr/>
    <p>
        <strong>Nombre: </strong> <span id="oNombres"></span>
        <br />
        <br />
        <strong>Apellidos: </strong> <span id="oApellidos"></span>
        <br />
        <br />
        <strong>Sexo: </strong> <span id="oSexo"></span>
    </p>
</div>
<script>

            function eliminarGrado(idGrado){
            var t = confirm("Desea eliminar este registro?");
                    if (t)
                    location.href = '/sagradocorazon/grado/eliminar?id=' + idGrado;
            }

    function cerrarBio(){
    $('#blackScreen').css('display', 'none');
            $('#resumenDocente').css('display', 'none');
    }

    function verOrientador(event, idOrientador){
    var data = {
    'idOrientador' : idOrientador
    }

    var uri = '/sagradocorazon/docente/get_info';
            var request = $.post(uri, data, function(d){

            $('#oNombres').html(d.primer_nombre + " " + d.segundo_nombre);
                    $('#oApellidos').html(d.primer_apellido + " " + d.segundo_apellido)
                    $('#oSexo').html(d.sexo);
            }, "json");
            $('#blackScreen').css('display', 'block');
            $('#resumenDocente').css('display', 'block');
    }

</script>
