<style>
    table{
        border-collapse: collapse;
    }
    
    table td, th{
        border:solid 1px #000;
        padding:6px;
        font-size: 11px;
    }
</style>
<h4>Lista de asistencia de {grado}</h4>
<h4 style="text-align:right;">Fecha: <span style="text-decoration: underline;">{fecha}</span></h4>
<table>
    <tr>
        <th>No</th>
        <th style="width: 60%;">Nombre</th>
        <th>Presente</th>
        <th>Ausente</th>
        <th>Tarde</th>
        <th>Con Permiso</th>
    </tr>
<!-- START data -->
<tr>
    <td>{{numrow}}</td>
    <td style="width: 60%;">
        {primer_apellido} {segundo_apellido}, {primer_nombre} {segundo_nombre}
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<!-- END data -->
</table>