<ul class="breadcrumbs">
    <li class=""><a href="/sagradocorazon/system/index">Inicio</a></li>
    <li class=""><a href="javascript: history.back(1);">Listado</a></li>
    <li class="current"><a href="#">Calificar</a></li>
</ul>
<h6><strong>Estudiante:</strong> {nombre_alumno}</h6>
<h6><strong>Grado:</strong> {nombre_grado}</h6>
<br/>
<br/>
<table style="margin: 0 auto; left: 0px; right: 0px;">
    <tr>
        <th>Asignatura</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th class="prom">Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th class="prom">Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th class="prom">Octubre</th>
        <th class="prom">Promedio final</th>
    </tr>
<!-- START notas -->
    <tr>
        <td class="asig">{nombre}</td>        
        <td>
            <a href="javascript: void(0);" onclick="ver_detalle_q('Febrero', {id_ficha_alumno_d}, 1)">{pp1}</a>
        </td>
        <td>
            <a href="javascript: void(0);" onclick="ver_detalle_q('Marzo', {id_ficha_alumno_d}, 2)">{pp2}</a>
        </td>
        <td class="prom">
            <a href="javascript: void(0);" onclick="ver_detalle_q('Abril', {id_ficha_alumno_d}, 3)">{pp3}</a>
        </td>
        <td>
            <a href="javascript: void(0);" onclick="ver_detalle_q('Mayo', {id_ficha_alumno_d}, 4)">{pp4}</a>
        </td>
        <td>
            <a href="javascript: void(0);" onclick="ver_detalle_q('Junio', {id_ficha_alumno_d}, 5)">{pp5}</a>
        </td>
        <td class="prom">
            <a href="javascript: void(0);" onclick="ver_detalle_q('Julio', {id_ficha_alumno_d}, 6)">{pp6}</a>
        </td>
        <td>
            <a href="javascript: void(0);" onclick="ver_detalle_q('Agosto', {id_ficha_alumno_d}, 7)">{pp7}</a>
        </td>
        <td>
            <a href="javascript: void(0);" onclick="ver_detalle_q('Septiembre', {id_ficha_alumno_d}, 8)">{pp8}</a>
        </td>
        <td class="prom">
            <a href="javascript: void(0);" onclick="ver_detalle_q('Octubre', {id_ficha_alumno_d}, 9)">{pp9}</a>
        </td>
        <td class="prom">
            {pf}
        </td>
    </tr>
<!-- END notas -->
</table>
<table style="margin: 0 auto; left: 0px; right: 0px; margin-top: 20px;text-align: center;" id="dtltbl">
    <tr>
        <td colspan="2">
            <span id="strMes">Mes</span>
            <input type="hidden" id="periodoActual"/>
        </td>
    </tr>
    <tr>
        <td>Revisión de cuaderno (10%)</td>
        <td><input type="text" id="rCuaderno"/></td>
    </tr>
    <tr>
        <td>Revisión de libro (10%)</td>
        <td><input type="text" id="rLibro"/></td>
    </tr>
    <tr>
        <td>Tareas (10%)</td>
        <td><input type="text" id="rTarea"/></td>
    </tr>
    <tr>
        <td>Actividades (20%)</td>
        <td><input type="text" id="rActividad"/></td>
    </tr>
    <tr>
        <td>Examen (50%)</td>
        <td><input type="text" id="rExamen"/></td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="tiny disabled" disabled="disabled" id="btnSalvar" type="button" onclick="salvar_notas({id_ficha_alumno_d})">Guardar</button>
        </td>
    </tr>
</table>
<script>
    function ver_detalle_q(nombre_mes, id_ficha_alumno_d, n_periodo){
        $('#btnSalvar').removeAttr('disabled');
        $('#btnSalvar').removeClass('disabled');
        $('#periodoActual').val(n_periodo);
        $('#strMes').html(nombre_mes);
        
        var uri  = "/sagradocorazon/system/cargar_detalle_nota";
        var data = {
            'id_ficha_alumno_d':id_ficha_alumno_d,
            'n_periodo':n_periodo
        };
        
        $.post(uri, data, function(d){
            $('#rCuaderno').val(d.cp);
            $('#rLibro').val(d.lp);
            $('#rTarea').val(d.tp);
            $('#rActividad').val(d.ap);
            $('#rExamen').val(d.ep);
        }, "json");
    }
    
    function salvar_notas(id_ficha_alumno_d){
        var cuaderno = $('#rCuaderno').val();
        var libro    = $('#rLibro').val();
        var tarea    = $('#rTarea').val();
        var examen   = $('#rExamen').val();
        var actividad    = $('#rActividad').val();
        
        if(isNaN(cuaderno) || isNaN(libro) || isNaN(tarea) || isNaN(examen) || isNaN(actividad) || (cuaderno<0 || cuaderno>10) || (libro<0 || libro>10) || (tarea<0 || tarea>10) || (examen<0 || examen>10) || (actividad<0 || actividad>10) ){
            alert("los datos no son correctos, ingrese numeros del 0 - 10");
        }else{
            if(confirm("Desea publicar estas notas?")){
                var n_periodo = $('#periodoActual').val();
                var uri       = '/sagradocorazon/system/salvar_detalle_nota';
                var data      = {
                    'n_periodo':n_periodo,
                    'id_ficha_alumno_d': id_ficha_alumno_d,
                    'cp':$('#rCuaderno').val(),
                    'lp':$('#rLibro').val(),
                    'tp':$('#rTarea').val(),
                    'ap':$('#rActividad').val(),
                    'ep':$('#rExamen').val()
                };

                $.post(uri, data, function(d){
                    location.reload(true);
                }, "json");
            }
        }
    }
</script>