<h3>
    Administración de cuenta
</h3>
<hr/>
<h5>Cambio de contraseña</h5>
<p>* Mínimo 6 caracteres</p>
<form id="frm1" style="width:400px;" action="/sagradocorazon/docente/actualizar_clave" method="post">
    Clave antigua:
    <br/>
    <br/>
    <input type="password" id="oldpassword" name="oldpassword" />
    <small id="oldpasswordMsg" style="display:none;" class="error">La clave no coincide</small>
    <br/>
    Nueva clave:
    <br/>
    <br/>
    <input type="password" name="newpassword" id="newpassword" />
    <small id="newpasswordMsg" style="display:none;" class="error">Mínimo 6 caracteres</small>
    <br/>
    Repita la clave:
    <br/>
    <br/>
    <input type="password" name="reppassword" id="reppassword" />
    <small id="reppasswordMsg" style="display:none;" class="error">La clave no coincide</small>
    <br/>
    <br/>
    <button>Cambiar</button>
</form>
<script type="text/javascript">

    $(document).ready(function() {

        window.oldflg = false;
        window.lenflg = false;
        window.matchf = false;

        var urlHandler = new url_handler();

        urlHandler.initialize();

        if (urlHandler.isKey('update')) {
            if (urlHandler.getValue('update') == 'ok')
                alert('Su clave se ha cambiado con exito!');
            if (urlHandler.getValue('update') == 'err')
                alert('Lo sentimos, ha ocurrido un error. No pudimos cambiar su clave!');
        }

        $('#oldpassword').bind('keyup', function() {
            var uri = '/sagradocorazon/docente/auth';
            var data = {'oldpass': $('#oldpassword').val()};
            var req = $.post(uri, data, function(d) {

                if (d.authStatus) {
                    window.oldflg = true;
                    $('#oldpassword').removeClass('error');
                    $('#oldpasswordMsg').css('display', 'none');
                } else {
                    window.oldflg = false;
                    $('#oldpassword').addClass('error');
                    $('#oldpasswordMsg').css('display', 'block');
                }

            }, "json");
        });

        $('#oldpassword').bind('blur', function() {
            var uri = '/sagradocorazon/docente/auth';
            var data = {'oldpass': $('#oldpassword').val()};
            var req = $.post(uri, data, function(d) {

                if (d.authStatus) {
                    window.oldflg = true;
                    $('#oldpassword').removeClass('error');
                    $('#oldpasswordMsg').css('display', 'none');
                } else {
                    window.oldflg = false;
                    $('#oldpassword').addClass('error');
                    $('#oldpasswordMsg').css('display', 'block');
                }

            }, "json");
        });

        $('#frm1').bind('submit', function() {
            if (!(window.oldflg && window.lenflg && window.matchf)) {

                alert("Error: rellene los campos correctamente");
                return false;
            } else {

                if (!confirm("Desea cambiar su clave?")) {

                    return false;
                }
            }
        });

        $('#newpassword').bind('keyup', function() {
            checkPassword();
        });
        $('#newpassword').bind('blur', function() {
            checkPassword();
        });
        $('#reppassword').bind('keyup', function() {
            checkPassword();
        });
        $('#reppassword').bind('blur', function() {
            checkPassword();
        });

    });

    function checkPassword() {
        var pass1 = $('#newpassword').val();
        var pass2 = $('#reppassword').val();

        if (pass1.length >= 6) {

            $('#newpassword').removeClass('error');
            $('#newpasswordMsg').css('display', 'none');
            window.lenflg = true;

            if (pass1 != pass2) {
                window.matchf = false;
                $('#reppassword').addClass('error');
                $('#reppasswordMsg').css('display', 'block');

            } else {
                window.matchf = true;
                $('#reppassword').removeClass('error');
                $('#reppasswordMsg').css('display', 'none');
            }
        } else {
            window.lenflg = false;
            $('#newpassword').addClass('error');
            $('#newpasswordMsg').css('display', 'block');
        }
    }

</script>