<form method="POST" action="/sagradocorazon/asignatura_grado/actualizar">
    <table>
        <thead>
        <th>ID Registro</th>
        <th>ID Docente</th>
        <th>Nombre Docente </th>
        <th>Grado</th>
        <th>Asignatura</th>
        </thead>
        <tbody>
            <tr>
                <!-- START lista_asignatura_grado -->
                <td><input type="text" size="1" name="id" value="{id}"readonly></td>
                <td><input type="text" name="id_docente" size="1" value="{id_docente}" readonly /></td>
                <!-- END lista_asignatura_grado -->
                <!-- START lista_docente -->
                <td>{primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}
                </td>
                <!-- END lista_docente -->
                <td>
                    <!-- START lista_grado -->
                    <input type="text" value="{nombre}">
                    <!-- END lista_grado -->
                </td>
                <td>
                    <select name="id_asignatura">
                        <!-- START lista_asignatura -->
                        <option value="{nombre}">{nombre}</option>
                        <!-- END lista_asignatura -->
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="actualizar">
</form>
