<ul class="breadcrumbs">
    <li><a href="/sagradocorazon/alumnos/nuevo_alumno">Alumnos</a></li>
    <li class="current"><a href="#">Editar</a></li>
</ul>
<!-- START datos_alumno -->
<form id="frm1" action="/sagradocorazon/alumnos/actualizar?id={id}" method="post" style="width:100%;display:table;padding:40px;">
    <strong>Editar Alumno - id:{id}</strong>
    <hr/>
    <p style="width:40%;float:left;margin:20px;">
        * Primer nombre: <input type="text" name="primer_nombre" value="{primer_nombre}" placeholder="Ej. Mario" required><br/>
        * Segundo nombre: <input type="text" name="segundo_nombre" value="{segundo_nombre}" placeholder="Ej. David" required><br/>
        * Primer Apellido: <input type="text" name="primer_apellido" value="{primer_apellido}" placeholder="Ej. Diaz" required><br/>
        * Segundo Apellido: <input type="text" name="segundo_apellido" value="{segundo_apellido}" placeholder="Ej. Sanchez" required><br/>
        * Fecha de Nacimiento: <input type="date" name="fecha_nacimiento" value="{fecha_nacimiento}" required><br/>
        * Sexo: 
        <select name="sexo" id="sexo">
            <option value="M">
                Masculino
            </option>
            <option value="F">
                Femenino
            </option>	
        </select>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#sexo option[value="{sexo}"]').attr('selected', 'selected');
            });
        </script>
    </p>
    <p style="width:40%;float:left;margin:20px;">
        * Telefono: <input type="text" name="telefono" value="{telefono}" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" placeholder="Ej. 2288-8713" required><br/>
        Telefono(opcional): <input type="text" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" name="telefono_opcional" value="{telefono_opcional}" placeholder="Ej. 7345-2373"><br/>
        * Direccion: <input type="text" name="direccion" value="{direccion}" placeholder="Ej. Soyapango, San Salvador" required><br/>
        * Nombre responsable: <input type="text" name="responsable" value="{responsable}" placeholder="Ej. Jose Reynaldo Parras" required><br/>
        * Telefono responsable: <input type="text" name="telefono_responsable" value="{telefono_responsable}" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" placeholder="Ej. 2235-5123" required><br/>
        <br/>
        <select name="grado" id="grado">
            <!-- START grados -->
            <option value="{id}">
                {nombre}
            </option>
            <!-- END grados -->
        </select>
        <script>
            $(document).ready(function(){
                var uri      = '/sagradocorazon/alumno_grado/obtener_grado';
                var data     = { 'id_alumno': {id} };
                $.post(uri, data, function(d){
                    $("#grado option[value='"+d.id+"']").attr("selected","selected");
                },"json"); 
            });
        </script>
        <button type="submit">Actualizar datos</button>
    </p>
</form>
<!-- END datos_alumno -->
<script>

    $(document).ready(function() {
        $('#frm1').bind('submit', function() {
            if (!confirm("Desea confirmar los cambios realizados?")) {
                return false;
            }
        });
    });

    var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value;
            largo = val.length;
            val = val.split(sep);
            val2 = '';
            for (r = 0; r < val.length; r++) {
                val2 += val[r];
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g");
                        val2 = val2.replace(letra, "");
                    }
                }
            }
            val = '';
            val3 = new Array();
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s]);
                val2 = val2.substr(pat[s]);
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q];
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q];
                    }
                }
            }
            d.value = val;
            d.valant = val;
        }
    }
</script>