<!-- START datos_horario -->
<form action="/sagradocorazon/alumnos/actualizar?id={id}" method="POST">

    ID:{id}<br>
    Id asignatura grado: <input type="text" name="id_asignatura_grado" value="{id_asignatura_grado}"><br>
    Dia: <input type="text" name="dia" value="{dia}"><br>
    Hora de inicio: <input type="text" name="inicio" value="{inicio}"><br>
    Hora de fin: <input type="text" name="fin" value="{fin}"><br>

    <!-- END datos_alumno -->
    <input type="submit" value="Actualizar datos">
</form>