<form method="POST" action="/sagradocorazon/alumno_grado/actualizar">
    <table>
        <thead>
        <th>ID Registro</th>
        <th>ID Alumno</th>
        <th>Nombre Alumno </th>
        <th>Grado</th>
        </thead>
        <tbody>
            <tr>
                <!-- START lista_alumno_grado -->
                <td><input type="text" size="1" name="id" value="{id}"readonly></td>
                <!-- END lista_alumno_grado -->
                <!-- START lista_alumno -->
                <td><input type="text" name="id_alumno" size="1" value="{id}" readonly ></td>
                <td>{primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}
                </td>
                <!-- END lista_alumno -->
                <td>
                    <select name="id_grado">	
                        <!-- START lista_grados -->
                        <option value="{nombre}"> {nombre}</option>
                        <!-- END lista_grados -->
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="actualizar">
</form>