<ul class="breadcrumbs">
    <li><a href="/sagradocorazon/asignatura/agregar">Asignaturas</a></li>
    <li class="current"><a href="#">Editar</a></li>
</ul>
<!-- START dato_asignatura -->
<form id="form1" action="/sagradocorazon/asignatura/modificar?id={id}" method="post" style="width:300px;">
    <strong>Editar asignatura - id:</strong>{id}
    <hr/>
    <br/>
    <br/>
    Nombre de la asignatura:
    <br/>
    <br/>
    <input type="text" name="nombre" value="{nombre}">
    <br/>
    <!-- END dato_asignatura --> 
    <button type="submit">Actualizar</button>	
</form>
<script type="text/javascript">

    $(document).ready(function() {
        $('#form1').bind('submit', function() {
            if (!confirm("Desea efectuar los cambios?")) {
                return false;
            }
        });
    });

</script>