<ul class="breadcrumbs">
    <li><a href="/sagradocorazon/grado/agregar">Grados</a></li>
    <li class="current"><a href="#">Editar</a></li>
</ul>
<form id="form1" action="/sagradocorazon/grado/modificar" method="post" style="border: solid 1px #D3D3D3; border-radius:5px 5px 5px 5px; padding:20px;padding-left:50px;padding-right:50px;width:500px;margin:20px;">
    <!-- START dato_grado -->
    <strong>Edición grado - Id:	{id}</strong>
    <input type="hidden" value="{id}" name="id"/>
    <hr/>
    Nombre del Grado:
    <input type="text" name="nombre" value="{nombre}">
    <br/>
    Id Orientador:
    <select id="orientador" name="orientador">
        <!-- START docentes -->
        <option value="{id}">({id}) {primer_nombre} {primer_apellido}</option>
        <!-- END docentes -->
    </select>
    <br/>
    <script type="text/javascript">
        var orientador = {
            orientador
        }
        ;
    </script>
    Numero de Ciclo:
    <select name="ciclo" id="ciclo">
        <option value="1">(1) Primer ciclo</option>
        <option value="2">(2) Segundo ciclo</option>
        <option value="3">(3) Tercer ciclo</option>
        <option value="4">(4) Bachillerato</option>
    </select>
    <br/>
    <button type="submit"> Actualizar </button>
    <script type="text/javascript">
        var ciclo = {ciclo};
    </script>
    <!-- END dato_grado -->
</form>
<script type="text/javascript">

    $('#form1').bind('submit', function() {
        var t = confirm("Desea confirmar los cambios?");
        if (!t)
            return false;
    });

    $(document).ready(function() {
        $('#ciclo option[value=' + ciclo + ']').attr("selected", "selected");
        $('#orientador option[value=' + orientador + ']').attr("selected", "selected");
    });
</script>
