<ul class="breadcrumbs">
    <li class=""><a href="/sagradocorazon/system/index">Inicio</a></li>
    <li class="current"><a href="#">Listado</a></li>
</ul>
<h6><strong>Asignatura:</strong> {asignatura} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Grado:</strong> {grado}</h6>
<hr/>
<table>
    <tr>
        <th>No</th>
        <th style="width: 60%;">Nombre</th>
        <th>Opciones</th>
    </tr>
<!-- START data -->
<tr>
    <td>{{numrow}}</td>
    <td style="width: 80%;">
        {primer_apellido} {segundo_apellido}, {primer_nombre} {segundo_nombre}
    </td>
    <td> <a href="/sagradocorazon/system/calificar?id_alumno={id_estudiante}&id_asignatura={id_asignatura}&id_grado={id_grado}">Calificar</a></td>
</tr>
<!-- END data -->
</table>