<style>
    .prom{
        color: #007ba4;
    }
</style>
<ul class="breadcrumbs">
    <li class=""><a href="/sagradocorazon/system/index">Inicio</a></li>
    <li class=""><a href="/sagradocorazon/system/inscritos?id_grado={id_grado}">Inscritos</a></li>
    <li class="current"><a href="#">Ficha</a></li>
</ul>
<h4>Ficha del estudiante</h4>
<hr/>
<h6><strong>Orientador:</strong> {orientador}</h6>
<h6> <strong>Alumno:</strong> {nombre_alumno}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Grado:</strong> {grado} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Año:</strong> {anio}</h6>
<div style="text-align:right;">
    <a href="/sagradocorazon/system/informe?id_alumno={id_alumno}" target="_blank">Imprimir</a>
</div>
<hr/>
<table style="margin: 0 auto; left: 0px; right: 0px;">
    <tr>
        <th>Asignatura</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th class="prom">Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th class="prom">Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th class="prom">Octubre</th>
        <th class="prom">Promedio final</th>
    </tr>
<!-- START notas -->
    <tr>
        <td>{nombre}</td>        
        <td>{pp1}</td>
        <td>{pp2}</td>
        <td class="prom">{pp3}</td>
        <td>{pp4}</td>
        <td>{pp5}</td>
        <td class="prom">{pp6}</td>
        <td>{pp7}</td>
        <td>{pp8}</td>
        <td class="prom">{pp9}</td>
        <td class="prom">{pf}</td>
    </tr>
<!-- END notas -->
</table>