<div id="weakProtection" data-alert class="alert-box info" style="display:none;"> 
    Por favor, por motivos de seguridad recuerde <strong>CAMBIAR SU CLAVE</strong> por defecto a una personalizada. 
    <a href="#" class="close">&times;</a> 
</div>
<!--<div id="adminStartup" data-alert class="alert-box alert" style="display:none;"> 
    <strong>Aviso!:</strong> Aún no ha iniciado su año lectivo, por lo tanto, los docentes no podrán evaluar. 
    Por favor pinche <a href="/sagradocorazon/system/periodos" style="color: #fff; text-decoration: underline;">aquí</a>
    o vaya a Opciones > Período actual e inicie labores.
    <a href="#" class="close">&times;</a> 
</div>-->
<!--<p style="text-align:justify;">
    Institución educativa católica mixta, fundada por las Hermanas Oblatas del Corazón de Jesús, con formación integral basada en los principios del evangelio
</p>-->
<h4>Inicio</h4>
<div>
    <img src="../static/img/ayuda.png" />
    <a href="../static/pdf/Asistencia_Evaluaciones.pdf" target="_blank" />Como imprimir una lista de asistencias?</a>
    <br/>
    <img src="../static/img/ayuda.png" />
    <a href="../static/pdf/Contraseña.pdf" target="_blank" />Como cambiar mi contraseña?</a>
</div>
<br/>
<br/>
<div style="display: table;">
    <div style="width: 300px;float:left;margin:10px;border: solid 1px #D3D3D3;padding:7px;">
        <h5>
            Mis cursos:
        </h5>
        <p>Estos son los cursos donde usted es orientador/a</p>
        <hr/>
        <p style="padding: 5px;">
            {cursos_docente} 
        </p>
    </div>
    <div style="width: 300px;float:left;margin:10px;border: solid 1px #D3D3D3;padding:7px;">
        <h5>
            Mis asignaturas:
        </h5>
        <p>
            Estas son las diferentes asignaturas que imparte. Haga click en "ver" para obtener más detalles.
        </p>
        <hr/>
        <p style="padding: 5px;">
            {asignaturas_docente}
        </p>
    </div>
</div>
<script>
    $(document).ready(function() {

        var weakProtection = "{weakProtection}";

        if (weakProtection == "1") {
            $('#weakProtection').css('display', 'block');
        }
        /*var isAdmin = "{isAdmin}";
        var inicio_de_anio = "1";
        
        if(inicio_de_anio == "1" && isAdmin == "1"){
            $('#adminStartup').css('display', 'block');
        }else if(inicio_de_anio == "1" && isAdmin!="1"){
            $('#userStartup').css('display', 'block');
        }*/

    });
    
    function verDetalleAsignatura(idAsignatura, nombreAsignatura){
        if(isHide('mainPanel')){
            resetPanel('mainPanel');
            $('#mainPanel .panelContent').append('<h5>'+nombreAsignatura+'</h5>');
            $('#mainPanel .panelContent').append('<hr/>');
            $('#mainPanel .panelContent').append('<h6>Grados</h6>')
            $('#mainPanel .panelContent').append('<p><strong>Tip:</strong> Aca puede observar en que grados usted imparte la asignatura de '+nombreAsignatura+' </p>')
            $('#mainPanel .panelContent').append('<table id="lstGrados"><tr><th>ID</th><th>Nombre</th><th>Acciones</th></tr></table>')
            var uri  = "/sagradocorazon/system/gradosAsignatura";
            var data = { "id_asignatura":idAsignatura };
            
            $.post(uri, data, function(d){
                for(var i = 0; i < d.length; i++ ){
                    $('#lstGrados').append('<tr><td>'+d[i].id+'</td><td>'+d[i].nombre+'</td><td><a href="/sagradocorazon/system/asistencia?id_grado='+d[i].id+'" target="_blank">Asistencia</a> | <a href="/sagradocorazon/system/evaluaciones?id_asignatura='+idAsignatura+'&id_grado='+d[i].id+'">Evaluaciones</a></td></tr>')
                }
            },"json");
            
            showPanel('mainPanel');
        }else if(isShowed('mainPanel')){
            hidePanel('mainPanel');
            resetPanel('mainPanel');
            $('#mainPanel .panelContent').append('<h5>'+nombreAsignatura+'</h5>');
            $('#mainPanel .panelContent').append('<hr/>');
            $('#mainPanel .panelContent').append('<h6>Grados</h6>')
            $('#mainPanel .panelContent').append('<p><strong>Tip:</strong> Aca puede observar en que grados usted imparte la asignatura de '+nombreAsignatura+' </p>')
            $('#mainPanel .panelContent').append('<table id="lstGrados"><tr><th>ID</th><th>Nombre</th><th>Acciones</th></tr></table>')
            var uri  = "/sagradocorazon/system/gradosAsignatura";
            var data = { "id_asignatura":idAsignatura };
            
            $.post(uri, data, function(d){
                for(var i = 0; i < d.length; i++ ){
                    $('#lstGrados').append('<tr><td>'+d[i].id+'</td><td>'+d[i].nombre+'</td><td><a href="/sagradocorazon/system/asistencia?id_grado='+d[i].id+'" target="_blank">Asistencia</a> | <a href="/sagradocorazon/system/evaluaciones?id_asignatura='+idAsignatura+'&id_grado='+d[i].id+'">Evaluaciones</a></td></tr>')
                }
            },"json");
            showPanel('mainPanel');
        }
    }
</script>