
<style>
    .prom{
        color: #007ba4;
    }
    
    table{
        text-align: center;
        border-collapse: collapse;
    }
    
    table td, th{
        padding: 10px;
        border: solid 1px #000;
    }
    table th{
        background: #E0EBFF;
    }
    
    .asig{
        background: #E0E0E0;
    }
    
</style>
<div style="padding: 30px;">
    <h4>Informe de notas</h4>
    <h5><strong>Orientador:</strong> <span style="text-decoration: underline;">{orientador}</span></h5>
    <h5> <strong>Alumno:</strong> <span style="text-decoration: underline;">{nombre_alumno}</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Grado:</strong> <span style="text-decoration: underline;">{grado}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Año:</strong> <span style="text-decoration: underline;">{anio}</span></h5>
</div>
<table style="margin: 0 auto; left: 0px; right: 0px;">
    <tr>
        <th>Asignatura</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th class="prom">Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th class="prom">Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th class="prom">Octubre</th>
        <th class="prom">Promedio final</th>
    </tr>
<!-- START notas -->
    <tr>
        <td class="asig">{nombre}</td>        
        <td>{pp1}</td>
        <td>{pp2}</td>
        <td class="prom">{pp3}</td>
        <td>{pp4}</td>
        <td>{pp5}</td>
        <td class="prom">{pp6}</td>
        <td>{pp7}</td>
        <td>{pp8}</td>
        <td class="prom">{pp9}</td>
        <td class="prom">{pf}</td>
    </tr>
<!-- END notas -->
</table>
<br/>
<br/>
<br/>
F:________________________
<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Orientador