<style>
    table{
        border-collapse: collapse;
    }
    
    table td, th{
        border:solid 1px #000;
        padding:6px;
        font-size: 11px;
    }
</style>
<ul class="breadcrumbs">
    <li class=""><a href="/sagradocorazon/system/index">Inicio</a></li>
    <li class="current"><a href="#">Inscritos</a></li>
</ul>
<h4>Matriculados en {grado} </h4>
<a href="/sagradocorazon/system/asistencia?id_grado={id_grado}" target="_blank">Imprimir lista de asistencia</a>
<br/>
<br/>
<table>
    <tr>
        <th>No</th>
        <th style="width: 60%;">Nombre</th>
        <th>Opciones</th>
    </tr>
<!-- START data -->
<tr>
    <td>{{numrow}}</td>
    <td style="width: 80%;">
        {primer_apellido} {segundo_apellido}, {primer_nombre} {segundo_nombre}
    </td>
    <td> <a href="/sagradocorazon/system/ficha?id_alumno={id_estudiante}">ver ficha</a></td>
</tr>
<!-- END data -->
</table>