<ul class="breadcrumbs">
    <li><a href="/sagradocorazon/docente/agregar">Docentes</a></li>
    <li class="current"><a href="#">Listado</a></li>
</ul>
<div style="margin-left: 25px;">
    <h3>[Docentes] Registros:</h3>
    <form id="searchBar" action="/sagradocorazon/docente/listado" method="get">
        <div class="row">
            <div class="large-6 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="filtro" placeholder="Nombre o Apellido">
                    </div>
                    <div class="small-2 columns">
                        <a href="javascript:void(0);$('#searchBar').submit();" class="button postfix">Buscar</a>
                    </div>
                </div>
            </div>
    </form>
    <br/>
    {pag}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>F.Nacimiento</th>
                <th>Sexo</th>
                <th>Telefono / opcional</th>
                <th>Direccion</th>
                <th>DUI</th>
                <th>NIT</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <!-- START docentes -->
        <tr>
            <td>{id}</td>
            <td>{primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}</td>
            <td>{fecha_nacimiento}</td>
            <td>{sexo}</td>
            <td>{telefono} / {telefono_opcional}</td>
            <td>{direccion}</td>
            <td>{dui}</td>
            <td>{nit}</td>
            <td>{usuario}</td>
            <td> 
                <a href="javascript:void(0);" onclick="eliminarDocente({id});">
                    Eliminar 
                </a>
                <br/>
                <a href="/sagradocorazon/docente/agregar?docente={id}">
                    Editar
                </a>
            </td>
        </tr>
        <!-- END docentes -->
    </table>
</div>
<script>

    $(document).ready(function() {

        var urlHandler = new url_handler();
        urlHandler.initialize();

        if (urlHandler.isKey('success')) {
            if (urlHandler.getValue('success') == 'deleted')
                alert('Registro eliminado correctamente');
        }

        if (urlHandler.isKey('err')) {
            if (urlHandler.getValue('err') == 'dependencies')
                alert('Error: Otros registros dependen de este. No se puede eliminar');
        }

    });

    function eliminarDocente(idDocente) {
        var t = confirm("Desea eliminar este registro?");

        if (t) {

            location.href = '/sagradocorazon/docente/eliminar?id=' + idDocente;
        }
    }
</script>