<ul style="margin-top: 0px;padding-top: 0px;top: -30px;position: relative;">
<!-- START lista_cursos -->
<li>{nombre} (<a href="/sagradocorazon/system/inscritos?id_grado={id}">ver inscritos</a>)</li>
<!-- END lista_cursos -->
</ul>