<ul style="margin-top: 0px;padding-top: 0px;top: -30px;position: relative;">
<!-- START lista_asignaturas -->
<li>{nombre} (<a href="javascript: void(0);" onclick="verDetalleAsignatura({id}, '{nombre}');">Ver</a>) </li>
<!-- END lista_asignaturas -->
</ul>