<script type="text/javascript">
    $(document).ready(function() {
        var urlHandler = new url_handler();
        urlHandler.initialize();
        if (urlHandler.isKey('error')) {
            switch (urlHandler.getValue('error')) {
                case 'NoAuth':
                    $('#noAuthMessage').css('display', 'block');
                    break;
                case 'WrongAcces':
                    $('#wrongAccesMessage').css('display', 'block');
                    break;
            }
        }
    });
</script>
<div>
    <img src="../static/img/ayuda.png" />
    <a href="../static/pdf/Inicio_de_sesion.pdf" target="_blank" />Por qué veo esto?</a>
</div>
<h3>Bienvenido/a</h3>
<h6>Por favor inicie sesión para hacer uso del sistema</h6>
<hr/>
<div id="noAuthMessage" data-alert class="alert-box warning" style="display:none;"> 
    Por favor, inicie sesi&oacute;n 
    <a href="#" class="close">&times;</a> 
</div>
<div id="wrongAccesMessage" data-alert class="alert-box warning" style="display:none;"> 
    Combinaci&oacute;n de usuario o clave incorrectos 
    <a href="#" class="close">&times;</a> 
</div>
<form style="width:400px;margin: 0 auto;" action="/sagradocorazon/system/auth_user" method="post"> 
    <fieldset> 
        <legend>Iniciar sesión</legend> 
        <label>
            Usuario: 
            <input type="text" name="username" placeholder=" username "> 
        </label> 
        <label>
            Clave: 
            <input type="password" name="password" placeholder=" password "> 
        </label>
        <button type="submit">
            Iniciar Sesión
        </button> 
    </fieldset> 
</form>