<ul class="breadcrumbs">
    <li class="current"><a href="#">Alumnos</a></li>
</ul>
<h2>Gestión de alumnos</h2>
<a href="/sagradocorazon/alumnos/ver_alumnos" style="padding:5px;">
    <img src="../static/img/glyphicons_029_notes_2.png" style="width:15px;" alt="(listado)"/> Listado
    </a>
    <img src="../static/img/ayuda.png" />
    <a href="../static/pdf/Alumno.pdf" target="_blank" />Ayuda</a>
<form action="/sagradocorazon/alumnos/guardar_alumno" method="POST" style="width:100%;display:table;padding:40px;">
    <p style="width:40%;float:left;margin:20px;">
        Primer nombre: <span style="color:red;">*</span><input type="text" name="primer_nombre" placeholder="Ej. Mario" required>
        Segundo nombre: <span style="color:red;">*</span> <input type="text" name="segundo_nombre" placeholder="Ej. David" required>
        Primer Apellido: <span style="color:red;">*</span> <input type="text" name="primer_apellido" placeholder="Ej. Diaz" required>
        Segundo Apellido: <span style="color:red;">*</span> <input type="text" name="segundo_apellido" placeholder="Ej. Sanchez" required>
        Fecha de Nacimiento:  <input type="date" name="fecha_nacimiento" required>
        Sexo: <span style="color:red;">*</span>
        <select name="sexo">
            <option value="M">
                Masculino
            </option>
            <option value="F">
                Femenino
            </option>	
        </select>
    </p>
    <p style="width:40%;float:left;margin:20px;">
        Telefono: <span style="color:red;">*</span> <input type="text" name="telefono" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" placeholder="Ej. 2288-8713" required>
        Telefono(opcional): <span style="color:red;">*</span> <input type="text" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" name="telefono_opcional" placeholder="Ej. 7345-2373">
        Direccion: <span style="color:red;">*</span> <input type="text" name="direccion" placeholder="Ej. Soyapango, San Salvador" required>
        Nombre responsable: <span style="color:red;">*</span> <input type="text" name="responsable" placeholder="Ej. Jose Reynaldo Parras" required>
        Telefono responsable: <span style="color:red;">*</span> <input type="text" name="telefono_responsable" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" placeholder="Ej. 2235-5123" required>
        <br/>
        <select name="grado">
            <!-- START grados -->
            <option value="{id}">
                {nombre}
            </option>
            <!-- END grados -->
        </select>
        <button type="submit">Ingresar</button>
    </p>
</form>
<script>
    var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value;
            largo = val.length;
            val = val.split(sep);
            val2 = '';
            for (r = 0; r < val.length; r++) {
                val2 += val[r];
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g");
                        val2 = val2.replace(letra, "");
                    }
                }
            }
            val = '';
            val3 = new Array();
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s]);
                val2 = val2.substr(pat[s]);
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q];
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q];
                    }
                }
            }
            d.value = val;
            d.valant = val;
        }
    }
</script>