<ul class="breadcrumbs">
    <li class=""><a href="/sagradocorazon/grado/agregar">Grados</a></li>
    <li class="current"><a href="#">Gestión de cursos</a></li>
</ul>
<h3>Editando {nombre_grado}</h3> <p>ID de Grado {id_grado}</p>
<!-- START lista_asignatura -->
<form method="POST" action="/sagradocorazon/asignatura_grado/guardar_asignatura_grado?id_asignatura={id}&id_grado={id_grado}">
<table>
    <thead>
    <th>Asignatura</th>
    <th>Nombre Profesor</th>
</thead>
    <tr>			
        <td>
            <input type="text" readonly name="id_asignatura" value="{nombre}">

        </td>
        <td>
            <select name="id_docente">
                <!-- START lista_docente -->
                <option value="{id}"> ({id}) {primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}</option>
                <!-- END lista_docente -->
            </select>
        </td>
        <td>
            <button type="submit" class="tiny">Agregar</button>
        </td>
    </tr>
    </table>
<!-- END lista_asignatura -->
</form>    
