<table>
    <thead>
    <th>ID Alumno</th>
    <th>Alumno</th>
    <th>Grado</th>
</thead>
<tbody>
    <!-- START lista_alumno -->
<form action="/sagradocorazon/alumno_grado/guardar_alumno_grado" method="POST">
    <tr>
        <td><input type="text" value="{id}" name="id_alumno" readonly size="1"></td>
        <td>{primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}</td>
        <td>
            <select name="id_grado">
                <!-- START lista_grado -->
                <option value="{nombre}" >{nombre}</option>
                <!-- END lista_grado -->
            </select>
        </td>
        <td><input type="submit" value="agregar"><td>
    </tr>
</form>
<!-- END lista_alumno -->
</tbody>
</table>