<form action="/sagradocorazon/horario/guardar_horario" method="POST">

    Id asignatura grado: <input type="text" name="primer_nombre"><br>
    Dia: <input type="text" name="dia"><br>
    hora de inicio: <input type="text" name="inicio"><br>
    Hora de fin: <input type="text" name="fin"><br>

    <input type="submit" value="Ingresar">

</form>