<h3>Reporte de grados</h3>
<hr/>
<table>
    <tr>
        <th style="width:25%;padding: 10px;">Codigo</th>
        <th style="width:25%;padding: 10px;">Grado</th>
        <th style="width:25%;padding: 10px;">Ciclo</th>
        <th style="width:25%;padding: 10px;">Orientador</th>
    </tr>
    <!-- START data -->
    <tr>
        <td style="width:25%;padding: 10px;">
            {id_grado}
        </td>
        <td style="width:25%;padding: 10px;">
            {nombre}
        </td>
        <td style="width:25%;padding: 10px;">
            {ciclo}
        </td>
        <td style="width:25%;padding: 10px;">
            {nombre_orientador}
        </td>
    </tr>
    <!-- END data -->
</table>