<ul class="breadcrumbs">
    <li class=""><a href="/sagradocorazon/grado/agregar">Grados</a></li>
    <li class="current"><a href="#">Ver cursos</a></li>
</ul>
<table>
    <thead>
    <th>ID Registro</th>
    <th>Nombre Docente</th>
    <th>Grado </th>
    <th>Asignatura</th>
    <th>Accion</th>
</thead>
<tbody>
    <!-- START asignatura_grado -->
    <tr>
        <td>{id}</td>
        <td>{primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}</td>
        <td>{nombre_grado}</td>
        <td>{nombre_asignatura}</td>
        <td>     
            <!--<a href="/sagradocorazon/asignatura_grado/editar_asignatura_grado?id_asignatura_grado={id}">Editar</a> / -->
            <a href="javascript: void(0);" onclick="eliminarRegistro({id})">Eliminar</a>
        </td>
    </tr>
    <!-- END asignatura_grado -->
</tbody>
</table>
<script>
    function eliminarRegistro(idReg){
        if(confirm("Desea eliminar este registro?")) 
            location.href = '/sagradocorazon/asignatura_grado/eliminar_asignatura_grado?id_asignatura_grado='+idReg;
    }
</script>