<table>
    <thead>
    <th>id</th>
    <th>id alumno</th>
    <th>id grado</th>
    <th>Accion </th>
</thead>
<tbody>
    <!-- START alumno_grado -->
    <tr>
        <td>{id}</td>
        <td>{primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}</td>
        <td>{nombre}</td>
        <td>
            <a href="/sagradocorazon/alumno_grado/editar_alumno_grado?id_alumno_grado={id}">Editar</a> 
            / 
            <a href="/sagradocorazon/alumno_grado/eliminar_alumno_grado?id={id}">Eliminar</a></td>
    </tr>
    <!-- END alumno_grado -->
</tbody>
</table>