<table>
    <thead>
    <th>id</th>
    <th>Id. A.G   |   Dia   |   Hora Inicio   |   Hora Fin</th>
    <th>Accion</th>
</thead>
<tbody>
    <!-- START lista_horario -->
    <tr>
        <td>{id}</td>
        <td>{id_asignatura_grado}     | {dia}    |   {inicio}    |   {fin}</td>
        <td><a href="/sagradocorazon/horario/editar_horario?id={id}">Editar</a> / <a href="/sagradocorazon/horario/eliminar_horario?id={id}">Eliminar</a></td>
    </tr>
    <!-- END lista_horario -->
</tbody>
</table>