<ul class="breadcrumbs">
    <li><a href="/sagradocorazon/alumnos/nuevo_alumno">Alumnos</a></li>
    <li class="current"><a href="#">Listado</a></li>
</ul>
<h3>[Alumnos] Registros:</h3>
<form id="searchBar" action="/sagradocorazon/alumnos/ver_alumnos" method="get">
    <div class="row">
        <div class="large-6 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" name="filtro" placeholder="Nombre o Apellido">
                </div>
                <div class="small-2 columns">
                    <a href="javascript:void(0);$('#searchBar').submit();" class="button postfix">Buscar</a>
                </div>
            </div>
        </div>
</form>
<br/>
{pag}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>F. Nacimiento</th>
            <td>Grado</td>
            <th>Telefono / opcional</th>
            <th>Direccion</th>
            <th>Responsable</th>
            <th>Tel. Responsable</th>
            <th>Acciones&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <!-- START lista_alumnos -->
        <tr>
            <td>{id}</td>
            <td>{primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}</td>
            <td>{sexo}</td>
            <td>{fecha_nacimiento}</td>
            <td class="tagGrado" id="grado_{id}"></td>
            <td>{telefono} / {telefono_opcional}</td>
            <td>{direccion}</td>
            <td>{responsable}</td>
            <td>{telefono_responsable}</td>
            <td>
                <a href="/sagradocorazon/alumnos/editar_alumno?id={id}">
                    Editar
                    <img class="iconSystem" src="../static/img/glyphicons_030_pencil.png" alt="(editar)"/>
                </a> 
                <br/>
                <a id="act" href="javascript: void(0);" onclick="eliminarAlumno({id}, '{primer_nombre} {primer_apellido}');">
                    Dar de baja
                </a>
            </td>
        </tr>
        <!-- END lista_alumnos -->
    </tbody>
</table>
<br/>
<strong>Mostrar: </strong>
<form action="/sagradocorazon/alumnos/ver_alumnos" method="get">
    Activos <input type="radio" name="type" value="activo" checked="checked">
    Inactivos <input type="radio" name="type" value="inactivo">
    <button type="submit" class="tiny">Aplicar</button>
</form>
<br/>
<script type="text/javascript">

    $(document).ready(function() {

        var tipo = "{tsr}";

        if (tipo == "1") {
            $('#act').html("Dar de baja");
        } else {
            $('#act').html("Dar de alta");
        }

        var urlHandler = new url_handler();
        urlHandler.initialize();

        if (urlHandler.isKey('update')) {
            if (urlHandler.getValue('update') == 'ok') {
                alert("Actualizacion realizada con exito!");
            }
        }
        if (urlHandler.isKey('del')) {
            if (urlHandler.getValue('del') == 'ok') {
                alert("Se ha dado de baja al estudiante!");
            }
        }
        if (urlHandler.isKey('act')) {
            if (urlHandler.getValue('act') == 'ok') {
                alert("Se ha dado de alta al estudiante!");
            }
        }
        
        $('.tagGrado').each(function(){
            var idAlumno = $(this).attr('id').split('_')[1];
            var idCont   = $(this).attr('id');
            var uri      = '/sagradocorazon/alumno_grado/obtener_grado';
            var data     = { 'id_alumno': idAlumno };
            $.post(uri, data, function(d){
                $('#'+idCont).html(d.nombre);
            },"json");
        });
        
    });

    function eliminarAlumno(id, nombre) {
        var tipo = "{tsr}";

        if (tipo == "1") {
            if (confirm("Desea dar de baja a " + nombre + "? ")) {
                location.href = '/sagradocorazon/alumnos/eliminar_alumno?id=' + id;
            }
        } else {
            if (confirm("Desea dar de alta a " + nombre + "? ")) {
                location.href = '/sagradocorazon/alumnos/activar_alumno?id=' + id;
            }
        }
    }
</script>